.login-btn{
  background-color: #00ACED;
}
.share-on-twitter{
  color: #00ACED !important;
}
span.badge{
  min-width: inherit;
}
span.badge.new:after {
    content: "" !important;
}
.tweet-container{
  padding:  0.3em 0.3em 0 1em !important
}
