<template name="master">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="WriterAssist is smartant digital assistant for writers">
    <meta name="keywords" content="writers, content">
  </head>
  {{>yield "headerNav"}}

  <div id="main">
    <div class="wrapper">
      {{>yield "sideNav"}}
      <section id="content">
        <div class="container">
          {{>yield}}
        </div>
      </section>

    </div>

  </div>
  {{>yield "footer"}}
</template>
