<template name="sideNav">
  <!-- START LEFT SIDEBAR NAV-->
  <aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
      <li class="user-details cyan darken-2">
        <div class="row">
          <div class="col col s4 m4 l4">
            <img src="{{currentUser.services.twitter.profile_image_url}}" alt="" class="circle responsive-img valign profile-image">
          </div>
          <div class="col col s8 m8 l8">
            <ul id="profile-dropdown" class="dropdown-content">
              <li class="{{isActive 'profile'}}"><a href="{{pathFor 'profile'}}"><i class=" mdi-action-face-unlock"></i>
                                Profile</a>
              </li>
                <li class="{{isActive 'settings'}}"><a href="{{pathFor 'settings'}}"><i class=" mdi-action-settings"></i>
                                Settings</a>
              </li>
              <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
              </li>
              <li class="divider"></li>
              <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
              </li>
              <li><a href="{{pathFor route ="logout"}}"><i
                                    class="mdi-hardware-keyboard-tab"></i> Logout</a>
              </li>
            </ul>
            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown"><i
                                class="mdi-navigation-arrow-drop-down right"></i>
                            <span  class="truncate">{{currentUser.profile.name}}</span></a>

            <p class="user-roal">{{currentUser.services.twitter.screenName}}</p>
          </div>
        </div>
      </li>
      <li class="bold {{isActive 'story/add'}}"><a href="{{pathFor "story/add"}}" class="waves-effect waves-green"><i
                    class="mdi-content-add"></i> New Story</a>
      </li>
      <li class="bold {{isActive 'stories'}}"><a href="{{pathFor "stories"}}" class="waves-effect waves-green"><i
                    class="mdi-action-view-list"></i> Stories <span class="new badge">4</span></a>
      </li>
    </ul>

    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only"><i
                class="mdi-navigation-menu"></i></a>
  </aside>


  <!-- END LEFT SIDEBAR NAV-->
</template>
