<template name="sideNav">
  <!-- START LEFT SIDEBAR NAV-->
  <aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
      <li class="user-details cyan darken-2">
        <div class="row">
          <div class="col col s4 m4 l4">
            <img src="/images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
          </div>
          <div class="col col s8 m8 l8">
            <ul id="profile-dropdown" class="dropdown-content">
              <li class="{{isActivePath 'profile'}}"><a href="{{pathFor 'profile'}}"><i class=" mdi-action-face-unlock"></i>
                                Profile</a>
              </li>
                <li class="{{isActivePath 'settings'}}"><a href="{{pathFor 'settings'}}"><i class=" mdi-action-settings"></i>
                                Settings</a>
              </li>
              <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
              </li>
              <li class="divider"></li>
              <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
              </li>
              <li><a href="{{pathFor route ="logout"}}"><i
                                    class="mdi-hardware-keyboard-tab"></i> Logout</a>
              </li>
            </ul>
            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown"><i
                                class="mdi-navigation-arrow-drop-down right"></i>
                            <span  class="truncate">{{currentUser.profile.name}}</span></a>

            <p class="user-roal">{{CurrentOrganization.name}}</p>
          </div>
        </div>
      </li>
      <li class="bold {{isActivePath 'task'}}"><a href="{{pathFor "task"}}" class="waves-effect waves-green"><i
                    class="mdi-navigation-check"></i> {{_ "Task Management"}}<span>{{getTaskCount}}</span></a>
      </li>
      <li class="bold {{isActivePath 'teams'}}"><a href="{{pathFor "teams"}}" class="waves-effect waves-green"><i
                    class="mdi-social-group"></i> {{_ "Team"}} </a>
      </li>
      <li class="bold {{isActivePath 'panorama'}}"><a href="{{pathFor "panorama"}}" class="waves-effect waves-green"><i
                    class="mdi-image-panorama-horizontal"></i> {{_ "Panorama"}} </a>
      </li>


      <li>
        <div class="divider"></div>
      </li>
      {{> organizationWidget}}
    </ul>

    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only"><i
                class="mdi-navigation-menu"></i></a>
  </aside>


  <!-- END LEFT SIDEBAR NAV-->
</template>
