<template name="login">
    <div id="login-wrapper" class="cyan valign-wrapper">
        <div id="login-page" class="row valign">
            <div class="col s12 z-depth-4 card-panel">
                <form id="login-form" class="login-form">
                    <div class="row">

                        <div class="input-field col s12 center-align" >
                            <img src="images/login-logo.png" alt=""
                                 class="circle responsive-img center profile-image-login">
                            <div class="col s12">

                                <h5>Writer Assist</h5>
                            </div>


                        </div>
                        <div class="row">
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <button type="submit" href="#" id="login-with-twitter" class="login-btn btn waves-effect waves-light col s12">Login with Twitter</button>
                        </div>
                    </div>
                    <div class="row">

                    </div>

                </form>
            </div>
        </div>

    </div>
</template>
